<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Perguntas e Respostas</h1>
    <hr>
    <h2>Lista de perguntas</h2>
</body>
<%- include('partials/footer.ejs') %>
