<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas e Respostas</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <img src="https://picsum.photos/300/200" alt="random-photo">
    <h1>Perguntas e Respostas</h1>
    <hr>
    <h2>Lista de perguntas</h2>
</body>
</html>
